<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[OTW - OTR] Requester name - New Device Request Form Submitted</title>
</head>
<body>
<p>This email is an automated notification from Office Tracking. We would like to inform you that a new device request form has been submitted. Please find the details below:</p>

<ul style="list-style-type:disc;">
    <li><p>Requester: <strong>{{firstName}} {{lastName}}</strong></p></li>
    <li><p>Email: <strong>{{email}}</strong></p></li>
    <li><p>Type: <strong>{{type}}</strong></p></li>
    <li><p>Model: <strong>{{model}}</strong></p></li>
    <li><p>Detail: <strong>{{detail}}</strong></p></li>
    <li><p>Reason: <strong>{{reason}}</strong></p></li>
    <li><p>Requested on: <strong>{{requestedAt}}</strong></p></li>
    <li><p>Status: <strong>{{status}}</strong></p></li>
</ul>

<p>Kindly review the request and take appropriate action based on the provided information in Office Tracking.</p>

<p>Thank you for your attention.</p>

<p>Best regards,</p>
<p>Office Tracking System</p>
</body>
</html>