<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[OWT - OTR] Reset password</title>
    <style>
        .button {
            background-color: #6366f1;
            border: none;
            color: white;
            padding: 8px 18px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<h2>Dear {{firstName}} {{lastName}},</h2>

<p>A password change has been requested for your account. If this was you, please use the link below to reset your password. The link expires in <b>10 minutes</b>.</p>

<a href="https://{{domain}}/auth/reset-password?code={{code}}">
    <input type="submit" class="button" value="Reset password" />
</a>

</body>
</html>